$background_black: url('./assets/pattern_black.svg');
$background_blue: url('./assets/pattern_blue.svg');
$background_green: url('./assets/pattern_green.svg');
$background_orange: url('./assets/pattern_orange.svg');
$background_red: url('./assets/pattern_red.svg');
$background_white: url('./assets/pattern_white.svg');
