button {
  border: none;
  cursor: pointer;
  padding: 1em;
  border-radius: 0;
  box-shadow: 0 0 0.2em rgba(20, 20, 40, 0.2);
  cursor: pointer;
  min-width: 10em;
  background-color: #006494;
  color: white;
}

/* Ripple magic */
button{
  position: relative;
  overflow: hidden;
}

button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, .5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

button:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}
