

@font-face {
  font-family: AlfaSlabOne;
  src: url('./fonts/AlfaSlabOne.ttf') format('truetype');
}

@font-face {
  font-family: Comfortaa;
  src: url('./fonts/Comfortaa.ttf') format('truetype');
}

@font-face {
  font-family: Montserrat;
  src: url('./fonts/Montserrat.ttf') format('truetype');
}

@font-face {
  font-family: Pacifico;
  src: url('./fonts/Pacifico.ttf') format('truetype');
}
