@import './colors';

.group {
  position: relative;
  margin-bottom: 45px;
}

input[type="text"] {
  display: block;
  border: none;
  border-bottom: 1px solid transparent;
  background-color: transparent;
  border-bottom: solid $shadow 1px;
}

input[type="text"]:focus {
  outline: none;
}

label{
  color: $black;
  font-weight: normal;
  font-size: 1em;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: -0.1em;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

input[type="text"]:focus ~ label, input[type="text"]:valid ~ label {
  top: -1.2em;
  font-size: 0.8em;
  color: $main_blue;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: $main_blue;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active state */
input[type="text"]:focus ~ .bar:before, input[type="text"]:focus ~ .bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100%;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

input[type="text"]:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
  from {
    background: $main_blue;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: $main_blue;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: $main_blue;
  }
  to {
    width: 0;
    background: transparent;
  }
}

